<h1 class="display-4">Welcome to Our Hotel Booking System</h1>

<p class="lead">
  Explore our amazing hotels and book the perfect room for your stay.
</p>

<%= link_to "View All hotels", hotels_path, class: "btn btn-primary" %>
<br/>
<%= link_to "About Us", about_path , class: "btn btn-secondary mt-2"%>


