<h1>Welcome to Our Hotel Booking System</h1>

<p>
  Explore our amazing hotels and book the perfect room for your stay.
</p>

<%= link_to "View All Hotels", hotels_path %>
<br/>
<%= link_to "About Us", about_path %>