<h1>Hotels</h1>


<% @hotels.each do |hotel| %>
  <%= render hotel %>
  <%= link_to "Show this hotel", hotel, class: "btn btn-secondary btn-sm mt-3" %>
  <br/>

<% end %>

<%= link_to "New hotel", new_hotel_path, class: "btn btn-success mt-2" %>
